footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  height: 3em;

  a {
    color: inherit;
    text-decoration: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
