<main>
  <h1>Liste des articles</h1>
  <div>
    <nav>
      <button>Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table aria-label="Liste des articles">
      <thead>
        <tr>
          <th scope="col" class="name">Nom</th>
          <th scope="col" class="price">Prix</th>
          <th scope="col" class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.50 €</td>
          <td class="qty">328</td>
        </tr>
        <tr>
          <td class="name">Pince</td>
          <td class="price">3.68 €</td>
          <td class="qty">12</td>
        </tr>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">2.20 €</td>
          <td class="qty">100</td>
        </tr>
        <tr>
          <td class="name">Tondeuse à gazon</td>
          <td class="price">203.00 €</td>
          <td class="qty">4</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
