<main>
  <h1>Liste des articles</h1>
  <div>
    <nav>
      <button routerLink="add">Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table aria-label="Liste des articles">
      <thead>
        <tr>
          <th scope="col" class="name">Nom</th>
          <th scope="col" class="price">Prix</th>
          <th scope="col" class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles">
          <td class="name">{{ article.name }}</td>
          <td class="price">{{ article.price | currency }}</td>
          <td class="qty">{{ article.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
