<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias aliquam
    odit labore unde, molestiae consequuntur ratione rem recusandae, reiciendis
    assumenda inventore laudantium autem? Dolorum quidem aut voluptas obcaecati
    necessitatibus?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex velit fugiat
    autem neque, veniam hic consequatur iste accusamus molestiae quasi est unde
    at! Esse, accusamus excepturi. Odio nobis tenetur maxime.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias aliquam
    odit labore unde, molestiae consequuntur ratione rem recusandae, reiciendis
    assumenda inventore laudantium autem? Dolorum quidem aut voluptas obcaecati
    necessitatibus?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex velit fugiat
    autem neque, veniam hic consequatur iste accusamus molestiae quasi est unde
    at! Esse, accusamus excepturi. Odio nobis tenetur maxime.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias aliquam
    odit labore unde, molestiae consequuntur ratione rem recusandae, reiciendis
    assumenda inventore laudantium autem? Dolorum quidem aut voluptas obcaecati
    necessitatibus?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex velit fugiat
    autem neque, veniam hic consequatur iste accusamus molestiae quasi est unde
    at! Esse, accusamus excepturi. Odio nobis tenetur maxime.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias aliquam
    odit labore unde, molestiae consequuntur ratione rem recusandae, reiciendis
    assumenda inventore laudantium autem? Dolorum quidem aut voluptas obcaecati
    necessitatibus?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex velit fugiat
    autem neque, veniam hic consequatur iste accusamus molestiae quasi est unde
    at! Esse, accusamus excepturi. Odio nobis tenetur maxime.
  </p>
</main>
