/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

button {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  background-color: #eee;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      border-color: #ddd;
      background-color: #ddd;
    }

    &:active {
      border-color: #ccc;
      background-color: #ccc;
    }

    &.primary {
      color: #fff;
      border-color: #333;
      background-color: #333;
      &:hover {
        border-color: #444;
        background-color: #444;
      }

      &:active {
        border-color: #555;
        background-color: #555;
      }
    }
  }
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5em;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 25em;

  label {
    margin-bottom: 1em;
  }

  input {
    width: 100%;
    padding: 0.5em 1em;
    border: 0.1em solid #aaa;
  }

  button {
    margin-top: 2em;
  }
}
